In [47]:
# NOTES
# TODO: Setup environment variables in anaconda or use Python without anaconda to access exported evnironment vars

# Setup

## Import Packages

In [48]:
# import packages
import os
import dotenv
from collections import Counter
import pandas as pd
import numpy as np
import geopandas as gpd
import plotly
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType, DoubleType, TimestampType
from pyspark.sql.functions import col, year, month, weekofyear, unix_timestamp, udf, isnan, when, count
from hdfs import InsecureClient

## Load Environemnt Variables

In [49]:
# load environment variables
dotenv.load_dotenv()

SPARK_CUDF_JAR = os.getenv('SPARK_CUDF_JAR')
SPARK_RAPIDS_PLUGIN_JAR = os.getenv('SPARK_RAPIDS_PLUGIN_JAR')
namenode_URI = os.getenv('namenode_URI')
hadoop_user = os.getenv('hadoop_user')
hdfs_path = os.getenv('hdfs_path')

## Configure Spark, Connection to HDFS

In [50]:
# configure environment & instantiate spark
# one cpu available, total 8 cores, 2 cores per executor
# one gpu available, 4 concurent tasks for gpu (1/4), 90% of gpu memory allowed for pooling by RAPIDS
# possibly implement SparkConf.set method to set config('spark.executor.resource.gpu.amount', '0.25')
spark = SparkSession.builder \
    .master('local') \
    .appName('nyc_taxi') \
    .config('spark.jars', f'{SPARK_CUDF_JAR},{SPARK_RAPIDS_PLUGIN_JAR}') \
    .config('spark.plugins', 'com.nvidia.spark.SQLPlugin') \
    .config('spark.rapids.sql.enabled', 'true') \
    .config('spark.rapids.sql.incompatibleOps.enabled', 'true') \
    .config('spark.executor.cores', '2') \
    .config('spark.task.cpus', '1') \
    .config('spark.rapids.memory.gpu.pooling.enabled', 'true') \
    .config('spark.rapids.memory.gpu.allocFraction', '0.9') \
    .getOrCreate()

In [51]:
# list files in hdfs directory, count files in directory
hdfs = InsecureClient(namenode_URI, user=hadoop_user)
fs = hdfs.list(hdfs_path)
print(fs)
print('number of files in dfs directory:', len(fs))

['yellow_taxi_2017-01.parquet', 'yellow_taxi_2017-02.parquet', 'yellow_taxi_2017-03.parquet', 'yellow_taxi_2017-04.parquet', 'yellow_taxi_2017-05.parquet', 'yellow_taxi_2017-06.parquet', 'yellow_taxi_2017-07.parquet', 'yellow_taxi_2017-08.parquet', 'yellow_taxi_2017-09.parquet', 'yellow_taxi_2017-10.parquet', 'yellow_taxi_2017-11.parquet', 'yellow_taxi_2017-12.parquet', 'yellow_taxi_2018-01.parquet', 'yellow_taxi_2018-02.parquet', 'yellow_taxi_2018-03.parquet', 'yellow_taxi_2018-04.parquet', 'yellow_taxi_2018-05.parquet', 'yellow_taxi_2018-06.parquet', 'yellow_taxi_2018-07.parquet', 'yellow_taxi_2018-08.parquet', 'yellow_taxi_2018-09.parquet', 'yellow_taxi_2018-10.parquet', 'yellow_taxi_2018-11.parquet', 'yellow_taxi_2018-12.parquet', 'yellow_taxi_2019-01.parquet', 'yellow_taxi_2019-02.parquet', 'yellow_taxi_2019-03.parquet', 'yellow_taxi_2019-04.parquet', 'yellow_taxi_2019-05.parquet', 'yellow_taxi_2019-06.parquet', 'yellow_taxi_2019-07.parquet', 'yellow_taxi_2019-08.parquet', 'yellow_taxi_2019-09.parquet', 'yellow_taxi_2019-10.parquet', 'yellow_taxi_2019-11.parquet', 'yellow_taxi_2019-12.parquet', 'yellow_taxi_2020-01.parquet', 'yellow_taxi_2020-02.parquet', 'yellow_taxi_2020-03.parquet', 'yellow_taxi_2020-04.parquet', 'yellow_taxi_2020-05.parquet', 'yellow_taxi_2020-06.parquet', 'yellow_taxi_2020-07.parquet', 'yellow_taxi_2020-08.parquet', 'yellow_taxi_2020-09.parquet', 'yellow_taxi_2020-10.parquet', 'yellow_taxi_2020-11.parquet', 'yellow_taxi_2020-12.parquet']
number of files in dfs directory: 48

# Data Ingestion

In [52]:
# Get all column names in data
columns = []
for prqt in hdfs.list(hdfs_path):
    cols = spark.read \
        .options(header='true', inferschema='true') \
        .parquet(f'hdfs://localhost:9000/user/hadoop/input/{prqt}') \
        .limit(1) \
        .columns
    columns.extend(cols)

# see what columns are similar between
counter = Counter(columns)
print(counter)

# lets take all columns that are present within all datasets (48 maximum columns count)
columns = [i[0] for i in counter.items() if i[1] == max([i[1]for i in counter.items()])]

Counter({'VendorID': 48, 'tpep_pickup_datetime': 48, 'tpep_dropoff_datetime': 48, 'passenger_count': 48, 'trip_distance': 48, 'RatecodeID': 48, 'store_and_fwd_flag': 48, 'PULocationID': 48, 'DOLocationID': 48, 'payment_type': 48, 'fare_amount': 48, 'extra': 48, 'mta_tax': 48, 'tip_amount': 48, 'tolls_amount': 48, 'improvement_surcharge': 48, 'total_amount': 48, 'congestion_surcharge': 24})

In [53]:
# set the schema for data
customSchema = StructType([
    StructField('VendorID', LongType(), True),
    StructField('tpep_pickup_datetime', TimestampType(), True),
    StructField('tpep_dropoff_datetime', TimestampType(), True),
    StructField('passenger_count', LongType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', LongType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', LongType(), True),
    StructField('DOLocationID', LongType(), True),
    StructField('payment_type', LongType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True)
])

In [54]:
# read in data
df = spark.read \
    .format('parquet') \
    .schema(customSchema) \
    .load('hdfs://localhost:9000/user/hadoop/input/*')

In [55]:
# check final schema
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [56]:
# preview of concatenated dataframe size
print('number of rows: ', round(df.count() / 1e6, 2), 'Million',
      '\nnumber of columns: ', len(df.columns),
      '\ntotal count of data: ', round(df.count() * len(df.columns) / 1e9, 2), 'Billion')

number of rows:  325.35 Million
number of columns:  17
total count of data:  5.53 Billion

# Data Preparation

In [57]:
# we should only have data on years 2017 - 2020
print('unique years:', df.select(year(df.tpep_pickup_datetime)).distinct().collect())

# check how many rows of data are not within 2017-2020
years = ['2017', '2018', '2019', '2020']
print('rows with wrong years:', df.filter(~year(df.tpep_pickup_datetime).isin(years)).count())

# 113.5k relatively small amount of taxi rides compared to 325.3m, we can drop these rows
df = df.filter(year(df.tpep_pickup_datetime).isin(years))

# of unique years: [Row(year(tpep_pickup_datetime)=2003), Row(year(tpep_pickup_datetime)=2018), Row(year(tpep_pickup_datetime)=2015), Row(year(tpep_pickup_datetime)=2032), Row(year(tpep_pickup_datetime)=2090), Row(year(tpep_pickup_datetime)=2031), Row(year(tpep_pickup_datetime)=2042), Row(year(tpep_pickup_datetime)=2038), Row(year(tpep_pickup_datetime)=2037), Row(year(tpep_pickup_datetime)=2026), Row(year(tpep_pickup_datetime)=2041), Row(year(tpep_pickup_datetime)=2019), Row(year(tpep_pickup_datetime)=2029), Row(year(tpep_pickup_datetime)=2053), Row(year(tpep_pickup_datetime)=2020), Row(year(tpep_pickup_datetime)=2033), Row(year(tpep_pickup_datetime)=2009), Row(year(tpep_pickup_datetime)=2016), Row(year(tpep_pickup_datetime)=2088), Row(year(tpep_pickup_datetime)=2058), Row(year(tpep_pickup_datetime)=2001), Row(year(tpep_pickup_datetime)=2084), Row(year(tpep_pickup_datetime)=2000), Row(year(tpep_pickup_datetime)=2010), Row(year(tpep_pickup_datetime)=2008), Row(year(tpep_pickup_datetime)=2017), Row(year(tpep_pickup_datetime)=2002), Row(year(tpep_pickup_datetime)=2066), Row(year(tpep_pickup_datetime)=2021)]

# of wrong years: 113510

In [58]:
# check the months within the data
df.select(month(df.tpep_pickup_datetime)).distinct().collect()
# time 1m 30.6s

[Row(month(tpep_pickup_datetime)=12),
 Row(month(tpep_pickup_datetime)=1),
 Row(month(tpep_pickup_datetime)=6),
 Row(month(tpep_pickup_datetime)=3),
 Row(month(tpep_pickup_datetime)=5),
 Row(month(tpep_pickup_datetime)=9),
 Row(month(tpep_pickup_datetime)=4),
 Row(month(tpep_pickup_datetime)=8),
 Row(month(tpep_pickup_datetime)=7),
 Row(month(tpep_pickup_datetime)=10),
 Row(month(tpep_pickup_datetime)=11),
 Row(month(tpep_pickup_datetime)=2)]

In [59]:
# check if the years are correct like the pickup datetime
print('unique years:', df.select(year(df.tpep_dropoff_datetime)).distinct().collect())

# there are extra rows with improper years, check the amount of bad data
print('rows with wrong years:', df.filter(~year(df.tpep_dropoff_datetime).isin(years)).count())

# only 75 rows, we can drop them
df = df.filter(year(df.tpep_dropoff_datetime).isin(years))

# of unique years: [Row(year(tpep_dropoff_datetime)=2018), Row(year(tpep_dropoff_datetime)=1997), Row(year(tpep_dropoff_datetime)=2019), Row(year(tpep_dropoff_datetime)=1998), Row(year(tpep_dropoff_datetime)=2020), Row(year(tpep_dropoff_datetime)=1926), Row(year(tpep_dropoff_datetime)=2016), Row(year(tpep_dropoff_datetime)=2017), Row(year(tpep_dropoff_datetime)=2021)]

rows with wrong years: 75

In [60]:
# check the months within the dates
df.select(month(df.tpep_dropoff_datetime)).distinct().collect()
# time 1n 32s

[Row(month(tpep_dropoff_datetime)=12),
 Row(month(tpep_dropoff_datetime)=1),
 Row(month(tpep_dropoff_datetime)=6),
 Row(month(tpep_dropoff_datetime)=3),
 Row(month(tpep_dropoff_datetime)=5),
 Row(month(tpep_dropoff_datetime)=9),
 Row(month(tpep_dropoff_datetime)=4),
 Row(month(tpep_dropoff_datetime)=8),
 Row(month(tpep_dropoff_datetime)=7),
 Row(month(tpep_dropoff_datetime)=10),
 Row(month(tpep_dropoff_datetime)=11),
 Row(month(tpep_dropoff_datetime)=2)]

In [61]:
# check for null values in dataframe
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]) \
    .toPandas() \
    .transpose() \
    .rename(columns={0: 'count_na'})

# seems like there are issues with about 1M rows of the data missing VendorID, passenger_count, RatecodeID, payment_type
# remaining columns have no null values

                       count_na
VendorID                1056169
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count         1056169
trip_distance                 0
RatecodeID              1056169
store_and_fwd_flag            0
PULocationID                  0
DOLocationID                  0
payment_type            1056169
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0

In [82]:
# check the dates of null value rows
print('dates with null values')
df.filter(col('VendorID').isNull()) \
    .groupBy(year('tpep_pickup_datetime'), month('tpep_pickup_datetime')) \
    .count().alias('count_na') \
    .toPandas().sort_values(by=['year(tpep_pickup_datetime)', 'month(tpep_pickup_datetime)'])

dates with null values

    year(tpep_pickup_datetime)  month(tpep_pickup_datetime)   count
6                         2019                            6     161
16                        2019                            7   33970
5                         2019                            8   33235
11                        2019                            9   34197
0                         2019                           10   46826
17                        2019                           11   47311
12                        2019                           12   51198
9                         2020                            1   65347
14                        2020                            2   48760
3                         2020                            3   37474
8                         2020                            4   19671
18                        2020                            5   59259
1                         2020                            6   50773
13                        2020                            7   62871
10                        2020                            8   70753
4                         2020                            9   90248
15                        2020                           10  105846
2                         2020                           11   99267
7                         2020                           12   99002

In [63]:
# user defined function for finding difference between two timestamps in minutes
time_difference_udf = udf(lambda pickup, dropoff: (unix_timestamp(dropoff) - unix_timestamp(pickup)) / 60, DoubleType())

In [68]:
# get attributes of dates
df = df.withColumn('pickup_year', year('tpep_pickup_datetime')) \
       .withColumn('pickup_month', month('tpep_pickup_datetime')) \
       .withColumn('pickup_week', weekofyear('tpep_pickup_datetime')) \
       .withColumn('ride_duration', time_difference_udf(col('tpep_pickup_datetime'), col('tpep_dropoff_datetime')))

In [83]:
# number of rides per month
rides_per_month = df.select(
                        'pickup_year',
                        'pickup_month',
                        'fare_amount') \
                    .groupBy('pickup_year', 'pickup_month') \
                    .count() \
                    .toPandas()

rides_per_month.head()

   year  month     count
0  2019     10   7242123
1  2017      3  10309482
2  2017      8   8433694
3  2020      6    550348
4  2019      5   7584383

In [84]:
# sum of fares by month-year
fare_by_year_month = df.select(
                            'pickup_year',
                            'pickup_month',
                            'fare_amount') \
                        .groupBy('pickup_year', 'pickup_month') \
                        .sum('fare_amount') \
                        .toPandas()

fare_by_year_month.head()

   pickup_year  pickup_month  sum(fare_amount)
0         2019            10      9.870654e+07
1         2017             3      1.331977e+08
2         2017             8      1.110681e+08
3         2020             6      7.499550e+06
4         2019             5      1.019473e+08

In [44]:
# get total fares by pick up and drop off location pairs
fares_by_locations = df.groupBy('PULocationID', 'DOLocationID').sum('fare_amount').toPandas()
# time: 20.4s
fares_by_locations.head()

   PULocationID  DOLocationID  sum(fare_amount)
0            48           232         369106.77
1           170           179         203708.04
2           236             1         477072.90
3            28           130          10209.07
4           179           260          34003.20

# APPENDIX

```python
# RDD implementation of fares_by_locations (GPU not utilized)
fares_by_locations = df.select(['PULocationID', 'DOLocationID', 'fare_amount']).rdd \
                         .map(lambda x: ((x[0], x[1]), x[2])) \
                         .reduceByKey(lambda x, y: x + y) \
                         .toDF().toPandas()
time: 10m 53s
```